*{
    font-family: 'robotoregular', sans-serif;
}
 

 @font-face {
    font-family: 'robotoregular';
    src: url('http://localhost/mojapp/public/css/roboto-regular-webfont.woff2') format('woff2'),
         url('http://localhost/mojapp/public/css/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.large-10.medium-10.small-12.columns>h1{
    position: relative;
     }


.top-bar-right{

    text-align:center;
}

#top-right{
display:inline-block;
}


#back{
    background-size: cover;
    background-image: url("http://polaznik41.edunova.hr/mojapp/public/back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    padding-bottom: 20%;
    max-height:50%;
  

}
