*{
    font-family: 'vladarhserif';
    color: rgb(0, 0, 0);

}

.naziv {
    color:white !important;
}

#center > h1{
    font-family: 'vladarhserif'

}

@font-face{
    font-family:'vladarhserif_regregular';
    src:url('http://polaznik41.edunova.hr/mojapp/public/css/vladarhserif-regular-webfont.eot');
    src:url('http://polaznik41.edunova.hr/mojapp/public/css/vladarhserif-regular-webfont.eot?#iefix') format('embedded-opentype'),url('vladarhserif-regular-webfont.woff') format('woff'),url('vladarhserif-regular-webfont.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}

.large-10.medium-10.small-12.columns>h1{
      
     text-align: center;
}

.top-bar-right{

    text-align:center;
}

#top-right{
    display:inline-block;

}

#center{

    margin: auto;
    /* width: 40%; */
    /* color: beige; */
    color:white;
    text-shadow: 2px 2px 4px black;


}

#back{
    background-color: #f9f9f9;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.95;
    padding-bottom: 20%;
  
}


/* .button{
    width: 30%;
    height: 20%;
} */


html{
        height: 100%;
    
}
body  {
  

        background-image: url("http://polaznik41.edunova.hr/mojapp/public/pozadina2.jpg");
        background-repeat: repeat;
      
}



.log-in-form{
    margin: auto;
    text-align: center;
    max-width: 40%;
 }

body > div > div:nth-child(4){
    background-color:#e6e6e6;
}

.callout{
    margin-bottom: 0px;
    border: 0px solid black;
}

#poruka{
    margin: auto;
    text-align: center;

}


#back > div > div:nth-child(1) > div{
    background-color: white;
    opacity: 0.9;

}

#back > div > div:nth-child(2) > div{
    background-color: white;
    opacity: 0.9;

}
#back > div > div:nth-child(3) > div{
    background-color: white;
    opacity: 0.9;

}

body > div > div:nth-child(1) > div.large-2.medium-2.columns.hide-for-small-only > a > img{
    max-width:90px ;
    max-height: 90px ;

}

.fa-edit{
    color:green !important;
}
 

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.button{


background-color: #323232;

}

#back > div.grid-x > table{
    margin-bottom: 4rem;
}
 
#raspored{
    margin-top: 5%;
}

#example-table{
    margin-left: auto;
    margin-right: auto;
}

#momcadi{
    margin-left: auto;
    margin-right: auto;

}