@font-face {
    font-family: '.';
    src: url('c2ae3bc1a8fa7a67d74c70949a637838.woff2') format('woff2'),
        url('c2ae3bc1a8fa7a67d74c70949a637838.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

